@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

/* UTILITIES */

* {
  font-family: 'montserrat', sans-serif;
}

.details {
  font-size: 24px;
  line-height: 38px;
  color: #737373;
}
.details-light {
  font-size: 24px;
  line-height: 38px;
  color: white;
}

.cta {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #f94a0c;
  padding: 15px 40px;
  border: 1px solid #f94a0c;
  border-radius: 50px;
}

.cta:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

/* NAVBAR */

.navbar {
  font-weight: 700;
  font-size: 16px;
}

.nav-link {
  color: black !important;
  padding-right: 4vw !important;
}

.active {
  color: #f94a0c !important;
}

.nav-link:hover {
  color: #f94a0c !important;
}

/* HERO SECTION */

.hero {
  background-image: url(images/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.info {
  padding: 50px 0 150px;
}

.hero-sub-text {
  font-size: 24px;
  font-weight: 700;
}

.hero-title {
  font-size: 58px;
  font-weight: 700;
  width: 75%;
  margin: 20px auto;
}

.hero-details {
  margin-bottom: 30px;
}

.playstore {
  margin-right: 20px;
}
.app-store {
  margin-left: 20px;
}

/* .phone {
  position: absolute;
  top: 330px;
}

.hr {
  position: relative;
  top: 500px;
} */

@media only screen and (max-width:576px) {
  .cta {
    font-size: 18px;
    margin: 20px auto;
    display: block;
    width: 180px;
  }
  
  .hero-sub-text {
    font-size: 18px;
  }
  
  .hero-title {
    font-size: 36px;
    width: 90%;
  }

  .details,
  .details-light {
    font-size: 18px;
  }
}

@media only screen and (max-width:768px) {
  .hero-title {
    width: 100%;
  }
}