@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

/* UTILITIES */

* {
  font-family: 'montserrat', sans-serif;
}

.details {
  font-size: 24px;
  line-height: 38px;
  color: #737373;
}
.details-light {
  font-size: 24px;
  line-height: 38px;
  color: white;
}

.cta {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #f94a0c;
  padding: 15px 40px;
  border: 1px solid #f94a0c;
  border-radius: 50px;
}

.cta:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

/* NAVBAR */

.navbar {
  font-weight: 700;
  font-size: 16px;
}

.nav-link {
  color: black !important;
  padding-right: 4vw !important;
}

.active {
  color: #f94a0c !important;
}

.nav-link:hover {
  color: #f94a0c !important;
}

.title {
  font-size: 44px;
  font-weight: 600;
}

/* HERO SECTION */

.hero {
  background-image: url(images/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.info {
  padding: 100px 0;
}

.sub-text {
  font-size: 24px;
  font-weight: 700;
}

.hero-title {
  font-size: 58px;
  font-weight: 700;
  width: 75%;
  margin: 20px auto;
}

.hero-details {
  margin-bottom: 50px;
}

.playstore {
  margin-right: 20px;
}
.app-store {
  margin-left: 20px;
}

.phone {
  margin: 50px 0;
}

.phone-image {
  width: 30%;
}

.hr {
  margin-bottom: 50px;
  width: 50%;
}

/* APP DETAILS */

.cta-row {
  margin: 0px 0;
}

.cta-title {
  font-size: 44px;
  font-weight: 600;
  margin: 30px 0;
}

/* BANNER SECTION */

.banner {
  background-image: url(images/download-app.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}






@media only screen and (max-width:576px) {
  .cta {
    font-size: 18px;
    margin: 20px auto;
    display: block;
    width: 180px;
  }
    
  .hero-title {
    font-size: 36px;
    width: 90%;
  }

  .info {
    width: 90%;
    padding: 50px 0;
    margin:0 auto ;
  }

  .phone-image {
    width: 10%;
  }

  .title,
  .cta-title {
    font-size: 28px;
  }

  .details,
  .details-light {
    font-size: 18px;
  }

  .cta-details {
    text-align: center;
  }

  .reverse {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width:768px) {
  .hero-title {
    width: 100%;
  }

  .phone-image {
    width: 50%;
  }
}